@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #d25937;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    background-color: #f5f5dc;
    font-weight: 400;
    text-align: left;
}
a{
    text-decoration: none;
}
/*li{*/
/*    list-style: none;*/
/*}*/
/*img{*/
/*    max-width: 100%;*/
/*}*/
/*.section{*/
/*    float: left;*/
/*    width: 100%;*/
/*}*/
/*.container{*/
/*    float: none;*/
/*    width: 1200px;*/
/*    margin: 0 auto;*/
/*}*/
/*.menu li{*/
/*    float: left;*/
/*    margin-right: 20px;*/
/*}*/

