div{
    width: calc(33.3% - 30px);
    float: left;
    margin: 15px;
    box-sizing: border-box;
    padding: 30px 30px;
    background-color: #deb887;
    text-align: center;
    align-content: center;
    border-radius: 15px;
}
div:hover{
    background-color: #d25937;
    font-weight: 700;
    box-shadow: 5px 5px 10px #000000;
}
img{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
